.test1{
    background-color: rgb(253, 53, 154);
    width: 30px;
    height: 30px;
    margin: 10px;
}

.test2{
    background-color: rgb(229, 209, 158);
    width: 30px;
    height: 30px;
    margin: 5px;
}

.test3{
    background-color: rgb(234, 127, 65);
    width: 30px;
    height: 30px;
    margin: 5px;
}