.test1{
    background-color: #F5EEE6;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.test2{
    background-color: #F3D7CA;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.test3{
    background-color: #E6A4B4;
    width: 30px;
    height: 30px;
    margin: 5px;
}